# Ignore build output
/bin/
/obj/

# Ignore ASP.NET publish and generated wwwroot
TeamApp.API/bin/
TeamApp.API/obj/
TeamApp.API/wwwroot/

# Ignore Angular build outputs and dependencies
team-app-client/dist/
team-app-client/node_modules/
team-app-client/.angular/cache/

# Ignore user-specific files
*.user
*.suo
*.vs/
.vscode/

# Ignore NuGet packages
*.nupkg
.nuget/

# Ignore temp files
temp/
*.tmp

# Ignore OS files
.DS_Store
Thumbs.db
/TeamApp.API/.dotnet
